
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    margin: 0 auto;
}


.row {
    display: flex;
}


[class*='col-'] {
    padding: 15px;
    border: 1px solid #ddd;
}


.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}
